.verticalnavbar {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

#content {
    width: calc(100% -17rem);
    margin-left: 17rem;
    transition: all .5sec;
    -webkit-transition: all .5sec;
    -moz-transition: all .5sec;
    -ms-transition: all .5sec;
    -o-transition: all .5sec;
}

.br {
    margin: 3rem 0;
    border-bottom: 2px dashed rgba(15, 30, 167, 0.575);
    text-align: center;
}

body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}